.App {    
  text-align: center;
}

.App-header {   
  display: flex;
}

body {
  background-color: rgb(218, 224, 230);
}

.top-nav-bar-link {
  font-size: 12pt;
  font-weight: bold;
  ;
}

a {
  text-decoration: none;
}

.post-title-link:hover {
  text-decoration: underline;
}

.post-card Button:hover {
  background-color: #ebf6ff !important;
}

main {
  text-align: center;
  align-items: center;
  justify-content: center; 
} 

footer {
  padding-top:50px;
  padding-bottom:20px;
}

.posts-container {
  
  text-align: center;
  margin: auto;
  max-width: 1200px; 
} 

.comment-form-container { 
  text-align: left;
  form {
    textarea {
      width: 80%;
      height: 80px;
      padding: 13px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      background-color: white;
      font-family: Oxygen, sans-serif;
      font-size: 19px;
    } 
  } 
} 

.post-card {
    display: flex; 
    padding: 11px;
}

.post-card-votes-box {
    flex: 1;
    max-width: 120px; 
}  

.post-card-content {
  flex: 4;
  text-align: left;
}  

// Dark Mode styling
//-------------------------------------
.dark-mode-div {
  float: right;
}

.dark-mode {
  color: rgb(255, 255, 255);
  background-color: #1a202c;

  main {
    background-color: #1a202c;
  }

  .post-card, .comment-card {
    color: rgb(255, 255, 255);
    background-color: #1a202c;
  }

  a, svg {
    color: rgb(255, 255, 255);
  }

  input {
    background-color: white;
  }

}

#toggle:hover {
  box-shadow: 2px 2px 11px rgba(0,0,0,0.52);
}
// Dark Mode Toggle End